{% include "base.html" %}

{% block content %}

<div class="container" style="background-color: #D1F5FF;">
    <div class="mx-auto p-2" style="width: 400px;">
        <form action="" method="post" class="other-form">
            <h1 style="text-align: center;">Добавить пост</h1>
            {{ form.hidden_tag() }}
            <p class="fs-3">
                {{ form.content.label }}
                {{ form.content(class="form-control", type="textarea") }}
                {% for error in form.content.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {{message}}
        </form>
    </div>
</div>
{% endblock %}